<% @articles.each do |article| %>
  <div class="article_box">
    <div class="article_title">
      <%= article.title%>
    </div>
    <div class="article_publication">
        <%= article.publication%>
        <%= article.date%>
    </div>
  </div>
<% end %>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>

<div class="article_box">
  <div class="article_title">
    Title
  </div>
  <div class="article_publication">
      magazine
      2016
  </div>
</div>
