<h1>Add Book</h1>
<%= link_to "New Book", new_book_path%>

<h1>Add Article</h1>
<%= link_to "New Article", new_article_path%>

<h1>Add Blog Post</h1>
<%= link_to "New Blog Post", new_post_path%>

<h1>Add Lecutre </h1>
<%= link_to "New Lecture Post", new_lecture_path%>
