<div class="row">
      <div class="col-md-5">
        <div class="book_wrapper">
          <div class="book2">
                 <%= image_tag 'naomi-pollock-headshot.jpg'%>
          </div>
        </div>
      </div>
  <div class="col-md-7">
    <h3> About </h3>
    <p> Naomi Pollock has been writing about design in Japan since 1989. Her articles have appeared in numerous publications, including the Chicago Tribune, Dwell, Interior Design, the International Herald Tribune, The New York Times, and Architectural Record, for whom she is the Special International Correspondent. A trained and licensed architect, she was a guest curator for an exhibit at The Art Institute of Chicago in 1998 entitled Japan 2000: Architecture and Design for the Japanese Public. </p>

    <h4><div class="link">
      <a href="#">Watch Naomi Pollock's 2014 Architecture and Urban Design Lecutre at UCLA on Japanese Products Here.</a>
    </div></h4>
  </div>
</div>
</div>
