
<div class="container">
  <div class="row">
        <div class="col-md-5">
          <div class="book_wrapper">
            <div class="book2">
                   <%= image_tag 'naomi-pollock-headshot.jpg'%>
            </div>
          </div>
        </div>
    <div class="col-md-7">
      <h3> About </h3>
      <p> Naomi Pollock is an American architect who lives in Tokyo where she writes about design in Japan. Her work has appeared in numerous publications on both sides of the Pacific, including A+U, Dwell, Jutakutokushu, Wallpaper* and Architectural Record for whom she is the Special International Correspondent. In addition, she is the author of several books, including Modern Japanese House, Made in Japan: 100 New Products, Jutaku: Japanese Houses and Sou Fujimoto as well as the co-author of New Architecture in Japan. She was also a contributor to Architecture: The Whole Story and Shigeru Ban: Humanitarian Architecture. </p>

      <h4><div class="link">
        <a href="#">Watch Naomi Pollock's 2014 Architecture and Urban Design Lecutre at UCLA on Japanese Products Here.</a>
      </div></h4>
    </div>
  </div>
  </div>


</div>
