<div class="container">
  <div class="photo_box_wrapper">

      <% @photos.each do |photo| %>
          <div class="photo_box">
        <%= image_tag photo.url %>
            </div>
        <% end %>

    </div>
</div>
