/* IMPORT STYLESHEETS and FONTS */
  @import "font-awesome-sprockets";
  @import "font-awesome";
  @import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
  @import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';

/* PAGE DEFAULTS */
  $blue: rgb(0,58,183);
  $green: rgb(0,152,86);

// SEARCH BAR
#search{

    border-radius: 30px;
    border-style: solid;
    border-color: #bfbfbf;
    *{
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
    }
}
  //typography
    p{
       font-family: 'Lato', sans-serif;
       font-size: 1.2em;
    }

    li{
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
      letter-spacing: .35em;
      color: $blue;
      list-style-type: none;
      display: inline-block;
      font-size: 12px;
      a:link, {
         color: $blue;
         padding: 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
      }

      a:hover, a:active {
        color: $green;
      }
    }

    ul{
    text-align: center;
  }

  //links - no underline, lato
    a {
      text-decoration: none;
    }

    .link{
       font-family: 'Lato', sans-serif;
    }
  //Headers: Montserrat
    h1{
      font-family: 'Montserrat', sans-serif;
      margin-top: 48px;
      color: $green;
      text-align: center;
      font-size: 3em;
      font-weight: lighter;
      letter-spacing: .5em;
      a:link, a:visited,  {
         color: $green;
         text-align: center;
         text-decoration: none;
         display: inline-block;
      }

      a:hover, a:active {
        color: $blue;
      }
    }

    h2, h3, h4, h5, {
      font-family: 'Montserrat', sans-serif;
      color: $green;
      font-weight: lighter;

      a:link, a:visited,  {
         color: $green;
         text-align: center;
         text-decoration: none;
         display: inline-block;
      }

      a:hover{
        color: $blue;
      }
      a:active{
        color: $blue;
      }
    }

.header{

}
//
// .container{
//   width: 100%;
//   box-sizing: border-box;
//   border: 1px solid pink;
//   display:flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: space-between;
//   align-content: space-between;
//   align-items: stretch;
// }

.active{
  color: $green;
}
/* books */
  .book_wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: right;
  }
  .book{
    max-width: 200px;
    max-height: 450px;
    margin: 40px;
    img{
      height: auto;
      width: 50%;
      align-items: center;
    }
    .hidden_text{
      display: none;
    }
  }
  .book:hover{
    height: auto;
    width: auto;
    background-color: $green;
    text-align: center;
    img{
      display: none;
    }
    .hidden_text{
      display: inline;
      color: white;
      font-size: 1.4em;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;


    }
  }
  .centered{
    align-self: center;
  }
  .book2{

    img{
      height: 100%;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 0;
      align-self: right;
    }
  }
  // .outer-container{
  //   min-height: 75vh;
  // }
  .footer{
    i{
      padding: 10px;
    }
  }

/* articles */
  .article_box_wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
  .article_box{
    background-color: $blue;
    height: 180px;
    width: 180px;
    margin: 20px;
    padding: 10px;
    display:flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: space-between;
   align-items: center;
  }
  .article_box:hover {
    background-color: $green;
  }
  .article_title{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }
  .article_publication{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }


/* lectures */
  .lecture_box_wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }
  .lecture_box{
    background-color: $blue;
    height: 400px;
    width: 400px;
    padding: 30px;
    display:flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: space-between;
   align-items: center;
   margin: 25px;

  }
  .lecture_box:hover {
    background-color: $green;
  }
  .lecture_title{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
  }
  .lecture_publication{
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }

/* photos */
  .photo_box{
    height: 350px;
    width: 350px;

    img{
      width: 100%;
      padding: 20px;
    }

  }
  .photo_box_wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }

/* footer */
  .footer{
    a:visited{
      color: $blue;
    }
    a:hover {
      color: $green;
    }

  }


/* SKELETON */

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/* Media Queries */
/* Larger than mobile */
  @media (min-width: 400px) {}

  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}

  /* Larger than tablet */
  @media (min-width: 750px) {}

  /* Larger than desktop */
  @media (min-width: 1000px) {}

  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
