@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700';

$blue: rgb(0,58,183);
$green: rgb(0,152,86);

.link{
   font-family: 'Lato', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: $green;
  text-align: center;
  font-weight: lighter;
  letter-spacing: .5em;
  a:link, a:visited,  {
     color: $green;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
  }

  a:hover, a:active {
    color: $blue;
  }
}


h2, h3, h4, h5, {
  font-family: 'Montserrat', sans-serif;
  color: $green;
  font-weight: lighter;

  a:link, a:visited,  {
     color: $green;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
  }

  a:hover, a:active {
    color: $blue;
  }
}

p{
   font-family: 'Lato', sans-serif;
}

li{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: .35em;
  color: $blue;
  list-style-type: none;
  display: inline-block;
  font-size: 12px;
  a:link, a:visited {
     color: $blue;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
  }

  a:hover, a:active {
    color: $green;
  }
}

ul{
  text-align: center;
  margin-top: -20px;
}



.book_wrapper{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.book{
  max-width: 200px;
  max-height: 450px;
  margin: 40px;
  img{
    height: 100%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
  }
}

.book2{
  max-width: 350px;
  max-height: 450px;
  margin-left: 10px;
  img{
    max-width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;

  }
}
.outer-container{
  min-height: 75vh;
}
.footer{
  i{
    padding: 10px;
  }
}

//articles//
.article_box{
  background-color: $blue;
  height: 150px;
  width: 150px;
  margin: 50px;
  padding: 10px;
}

.article_box:hover {
  background-color: $green;

}

.article_title{
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
.article_publication{
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}
