<div class="footer">
  <ul>
           <a href="https://www.facebook.com/naomi.pollock.9"><i class="fa fa-facebook
             fa-2x" aria-hidden="true"></i></a>

             <a href="https://www.instagram.com/sweathesmallstuff/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>

             <a href="mailto:sdossettswift@gmail.com?subject=GettingInTouch"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> </a>
 </ul>
</div>
