<div class="footer">
  <ul>
    <li> <i class="fa fa-envelope fa-2x" aria-hidden="true"></i> </li>
    <li> <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> </li>
    <li> <i class="fa fa-instagram fa-2x" aria-hidden="true"></i> </li>
  </ul>
</div>
